.container__menu-title{
  color: #ffffff;

}
.container__menu-title > h1{
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 115px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}
.container__menu-title > hr{
  margin-bottom: 20px;
  margin-top: 20px;

}
